{% extends "layout.html" %}

{% block title %} Forgot your password? | Harbacore {% endblock %}

{% block content %}
<div class="container">
    <h1>Forgot your password </h1>
    <p>Enter the email address associated to your account and we will send you the
        instructions on how to change your password.
    </p>


    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send me the instructions" class="btn btn-default">
    </form>
</div>

{% endblock %}