{% extends "layout.html" %}

{% block content %}

    <div class="container">
        {% if is_dealer %}

        <h1>
            {% if form.instance.gstin %}
                Update Details
            {% else %}
                Fill Dealer Details
            {% endif %}
        </h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.instance.gstin %}
                <input class="btn btn-default" type="submit" value="Update Details">
            {% else %}
                <input class="btn btn-default" type="submit" value="Create Details">
            {% endif %}
        </form>

        {% else %}
            <h2>Sorry You are not a dealer, Apply for dealership in Profile section</h2>

        {% endif %}

    </div>

{% endblock %}