{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}
Cart | Harbacore
{% endblock title %}

<!--static block-->
{% block static %}
    <link rel="stylesheet" href="{% static 'home_module/css/cart.css' %}" >
{% endblock %}

{% block content %}

{% if is_cart_empty %}
    <h1>Sorry the cart is empty.</h1>
{% else %}

<div class="row">
    <div class="col-md-9">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <!--<th>MRP</th>-->
                    <!--<th>Discount</th>-->
                    <!--<th>Final Price per Piece</th>-->
                    <th>Quantity</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        <td>
                            <p>{{ item.product_name }} </p>
                            <p class="card-text">
                                ₹<b>{{item.product_final_price}}</b>
                                &nbsp
                                <del class="dull">{{item.product_mrp}}</del>
                                &nbsp
                                <span class="badge badge-info">{{item.product_discount}}% off</span>
                            </p>

                            <form method="post" action="{% url 'home_module:add_to_cart_session' %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{item.product_id}}" name="item_id" />
                                <input type="hidden" value="-1" name="item_quantity" />
                                <!--<button onclick="test({{item.product_id}}, document.getElementById('product{{ item.product_id }}').value)">Update</button>-->
                                <!--<input type="submit" value="delete">-->
                                <button type="submit" class="btn btn-link dull" >
                                    <img class="glyph-size-delete" src="{% static 'images/si-glyph-delete.svg' %}" />
                                    Remove
                                </button>
                            </form>

                        </td>
                        <!--<td>{{ item.product_mrp }}</td>-->
                        <!--<td>{{ item.product_discount }}</td>-->
                        <!--<td>{{ item.product_final_price }}</td>-->
                        <td>
                            <form method="post" action="{% url 'home_module:add_to_cart_session' %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{item.product_id}}" name="item_id" />
                                <input type="number" value="{{ item.product_quantity }}" name="item_quantity" />
                                <!--<button onclick="test({{item.product_id}}, document.getElementById('product{{ item.product_id }}').value)">Update</button>-->
                                <input type="submit" value="update">
                            </form>
                        </td>

                        <td>{{ item.final_quantity_amount }}</td>

                    </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>

    <!--payment summary-->
    <div class="col-md-3 payment-summary">
        <h6 style="margin-top:10px">Payment Summary</h6>
        <div class="row">
            <div class="col-md-5 view-size">Sub Total</div>
            <div class="col-md-7 arrange-right view-size">₹{{ total_amount }}</div>
        </div>

        <div class="row">
            <div class="col-md-5 view-size">Taxes</div>
            <div class="col-md-7 arrange-right view-size">₹{{ tax }}</div>
        </div>

        <div class="row">
            <div class="col-md-5 view-size">Transportation</div>
            <div class="col-md-7 arrange-right view-size frate-color">Free</div>
        </div>


        <br>
        <hr size="20">
        <div class="row">
            <div class="col-md-5 view-size"><b>Grand Total</b></div>
            <div class="col-md-7 arrange-right view-size"><b>₹{{ payable_amount }}</b></div>
        </div>

    </div>

</div>
{% endif %}

<div>
    <a href="{% url 'home_module:submit_order' %}" class="btn btn-info" role="button">Submit Order</a>
    <!--<a href="{% url 'home_module:submit_order' %}">Submit Order</a>-->
</div>

{% endblock %}